<nav>
  @if (!auth.estaLogado()) {
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/registro" routerLinkActive="active">Cadastro</a>
  }

  @if (auth.ehOrganizador()) {
    <a routerLink="/meus-eventos" routerLinkActive="active">Meus Eventos</a>
    <a routerLink="/criar-evento" routerLinkActive="active">Criar Evento</a>
  }

  @if (auth.ehParticipante()) {
    <a routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
    <a routerLink="/minhas-inscricoes" routerLinkActive="active">Minhas Inscrições</a>
  }

  @if (auth.estaLogado()) {
    <span class="user-info">{{ auth.usuario()?.nome }} ({{ auth.usuario()?.perfil }})</span>
    <button (click)="sair()" class="btn-sair">Sair</button>
  }
</nav>

<router-outlet />
